<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-03-19T06:04:14Z</date>
	<key>WorkspacePath</key>
	<string>/Volumes/G-DRIVE-mobile-USB/dev/ios-apps/ar-apps/ar-click-cubes/AR Click Cubes/AR Click Cubes.xcworkspace</string>
</dict>
</plist>
